@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: 'Bree Serif', serif;
  background-color: #C14040;
  color: #EFE3E3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0rem;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0rem;
}

h4 {
  margin: 1rem 0rem;
  font-size: 0.8rem;
}

h5 {
  margin: 1rem 0rem;
  font-size: 0.5rem;
}

h6 {
  font-size: 0.3rem;
}

.type-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type {
  border: 1px solid transparent;
  padding: 0.4rem 0.3rem;
  margin: 0.3rem;
  font-weight: bold;
  background-color: #7766ee;
  border-radius: 5px;
}

.container {
  margin: 0.3rem 1.5rem;
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  background-color: #EFE3E3;
  margin: 0 20%;
  color: #C14040;
  border-radius: 15px;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a, nav a:hover, nav a:visited {
  color: #C14040;
  text-decoration: none;
}

a, a:hover, a:visited {
  color: #EFE3E3;
  text-decoration: none;
}

.title {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.nav-list {
  font-size: 0.9rem;
  margin: 1rem 0.5rem;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: #982C2C;
  border-radius: 20px;
  width: 33%;
  margin: 1rem 0;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-size: 1.1rem;
  border: 2px solid #752020;
}

.card-img {
  width: 100%;
}

.card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.2rem;
}

.align {
  line-height: 2rem;
}

.pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

table {
  width: 100%;
  font-size: 1.1rem;
}
.team-list {
  margin: 1.5rem 0;
}
.team-list tbody td {
  padding: 0.4rem 0;
  width: 33%;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
}
.team-title{
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom:2px solid #982C2C;
}
.team-list img{
  width:15%;
}
.team-list button img {
  width: 100%;
}
.team-list button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
}

.team-list tbody tr:hover {
  background-color: #982C2C;
  border: 2px solid #632B2B;
}
.pokemon-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.pokemon-img {
  min-width: 33%;
  height: cover;
  padding: 0 1rem;
}

.pokemon-details {
  width: 66%;
  padding: 2rem;
  background-color: #982C2C;
  border-radius: 20px;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
}

.pokemon-graph {
  position: relative;
  width: 100%;
  height: 1.2rem;
  background-color: #632B2B;
  border-radius: 5px;
}

.pokemon-progress {
  position: absolute;
  width: 30%;
  height: 1.2rem;
  background-color: #EFE3E3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.light-link {
  margin: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.search-type {
  width: 24%;
  text-align: center;
  padding: 1.2rem;
  margin: 0.2rem;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-type:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-size: 1.1rem;
  border: 1px solid black;
}

progress, progress::-webkit-progress-bar {
  width: 100%;
  height: 1.2rem;
  background-color: #632B2B;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  height: 1.2rem;
  background-color: #EFE3E3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pokeball {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.connect {
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;

}

.link-connect{
  border: 2px solid #55131399;
  background-color: #7c3636;
  padding: 1rem;
  transition: font-size 0.5s;
}

.link-connect-left {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: none;
  transition: all 0.3s;
}
.link-connect-left:hover{
  border: 2px solid #55131399;
  transform:scale(1.2) translate(-8%, -8%);
}
.link-connect-right {
  border-left: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.3s;
}
.link-connect-right:hover{
  border: 2px solid #55131399;
  transform:scale(1.2) translate(8%, -8%);
}

.bar {
 margin:0 2rem;
}