<form action="/team/add/<%=pokemon.id%>" method="POST">
    <div class="form-label-group">
        <label for="team_select">Ajouter à la liste :</label>

        <select id="team_select" name="team_select">
            <option value="">--Please choose an option--</option>
            <% for (const list of lists) { %>
                <option value="<%=list.id%>" name="team_select"><%=list.name%></option>
            <%}%>
        </select>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</form>