    <nav class="nav">
        <h1 class="title"><a href="/">Pokédex</a></h1>

        <div>
            <span class="nav-list"><a href="/myprofile">Mon profil</a></span>
            <span class="nav-list"><a href="/pokedex">Liste</a></span>
            <span class="nav-list"><a href="/types">Types</a></span>
            <span class="nav-list"><a href="/mylist">Teams</a></span>
        </div>
    </nav>
