<%- include ('partials/header') %>
<%- include ('partials/nav') %>
<div class="container">
    <div class="connect">
        <div class="row">
            <a href="/signin" class="link-connect link-connect-left"> Connexion</a>
            <!-- <span class="bar"> | </span> -->
            <a href="/signup"class="link-connect link-connect-right"> Inscription</a>
        </div>
    </div>

    <h1>Bienvenu sur VOTRE Pokedex !</h1>
    <h2>Connectez-vous pour :</h2>
    <ul>
        <li>Avoir accès à toutes les statistiques de tous les pokémons</li>
        <li>Créez vos propres équipes</li>
        <li>Faites des comparatifs statistiques</li>
        <li>Mais aussi des simulations de stats pûres</li>

    </ul>
</div>
<%- include ('partials/footer') %>