<%- include('partials/header') %>
<%- include('partials/nav') %>

<p> Hello <%= member.pseudo %> </p>
<a href="/myList"> Mes listes</a>
<a href="/pokedex">Pokedex</a>

<%- include('partials/footer') %>