<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="container">
    <h1>
        Hello <%= member.pseudo %> 
    </h1>
    <div class="row">
        <span class="connect">
            <a href="/mylist"> Mes listes</a>
            <span class="bar"> | </span>
            <a href="/pokedex">Pokedex</a>

        </span>
    </div>

</div>

<%- include('partials/footer') %>